/* 
* @Author: BAI
* @Date:   2016-05-11 12:07:20
* @Last modified by:   BAI
* @Last Modified time: 2016-05-13 15:34:53
*/
* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    border: none;
}
.clear{
    clear:both;
    }
h1,h2,h3,h4,h5,h6{
    font-weight:normal;
    }
body{
    font-family: "微软雅黑";
    font-size: 62.5%;
    background:#000 url(../images/bg.jpg) no-repeat;
    background-size:cover;
}
header{
    padding-top: 20px;
    width: 80%;
    margin: 0 auto;
}
header img{
    width: 100%;
}
section{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    border:1px #fff solid;
    padding: 5px; 
    margin-top: 20px;
}
section p{
    font-size: 1rem;
    color: #fff;
    line-height: 30px;
}
section p span{
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
    line-height: 30px;
}
footer{
    width: 100%;
    position: fixed;
    bottom: 60px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
footer p{
    font-size: 2rem;
    line-height: 40px;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    text-shadow: 0 1px 1px #fff;
}
footer img{
    display: inline-block;
    vertical-align: middle;
}
.rect {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
}
@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }
}
.rect {
  -webkit-animation-name: shake;
          animation-name: shake;
          -webkit-transform: all 1s;
          -ms-transform: all 1s;
          -o-transform: all 1s;
          transform: all 1s;
          /*animation-name: colorchange; /**这里引用了前面定义的动画**/
          -webkit-animation-duration: 3s;
          -o-animation-duration: 3s;
          animation-duration: 3s;
          -webkit-animation-timing-function: ease-in;
          -o-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
          -webkit-animation-delay: 0s;
          -o-animation-delay: 0s;
          animation-delay: 0s;
          -webkit-animation-iteration-count: infinite;
          -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          -webkit-animation-direction: normal;
          -o-animation-direction: normal;
          animation-direction: normal;
          -webkit-animation-fill-mode: both;
          -o-animation-fill-mode: both;
          animation-fill-mode: both;
}